body {
    background-color: #152028;
    color: #bb86fc;
    font-size: 21px;
    font-family: sans-serif;
}

p {
    color: rgb(211, 208, 208);
    font-size: 21px;   
}

.intro {
    font-size: 25px;
    font-family: serif;
}
#top-section {
    background-color: navy;
}

#bottom-section {
    background-color: black;
}

/* the CSS Box Model */

/* Margin: (-top/bottom/left)
   Border:
   Pasdding:
*/

.Box {
    background-color: black;
    width:  300px;

    margin: 50px;
    border-width: 5px;
    border-color: #bb86fc;
    border-style: solid;
    padding: 10px 100px 300px 30px ;/*top right bottom left*/
}
