body {
    background-color: #152028;
    color: #bb86fc;
    font-size: 21px;
    font-family: sans-serif;
}

p {
    color: rgb(211, 208, 208);
    
}
h1 {

}

div {
    background: rgb(0, 0, 0) ;
    width: 500px; 
    /* height: 500px; */

}
span {
    color: mediumblue;
    font-weight: bold;
}